




/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body h1{
    color:#ffffff
}

body section Img{

    width:400px;
    height:300px
}
    body section.Img Img2{
        margin-left: 200px;
        width: 200px;
        height: 300px
    }

header {
    background-color:#ff6a00ff;
    color: #240ee9;
    text-align: center;
    padding: 20px;
}

nav ul.menu {
   
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #ccc;
    text-align: center;
} 

    nav ul.menu li {
        display: inline-block;
        margin-right: 20px;
    }

        nav ul.menu li a {
            text-decoration: none;
            color: #424141;
            font-weight: bold;
        }

section.seccion {
    margin: 0px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

/* Estilos específicos para secciones */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

span{

    
    margin-left: 5px;
}



body .cajasuperior{

    position: fixed;
    width: 100%;
}


 .ICON{
    text-align:center;
    background-color: #1da1f2;
    width: auto;
       height: auto;
    
}


.icon-facebook {
    
    width: 40px;
    height: 40px;
    margin-right: 20px;


}

.icon-whatsaap{

    width: 40px;
    height: 40px; 
    margin-right: 20px;

}


.icon-instagram{

    width: 40px;
    height: 40px; 
    margin-right: 20px;

}