/* Estilos generales 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: #817373;
}*/
body h1 {
    color: #ffffff
}

body section Img {
    padding-left: 10px;

    width: 400px;
    height: 300px
}


@media (min-width: 500px) {
    .ceci {
        height: 400px;
        background-image: url(https://img.freepik.com/fotos-premium/taza-cafe-forma-corazon-humo-granos-cafe-saco-arpillera-sobre-fondo-madera-vieja_126277-302.jpg?w=740);
        background-size: cover;
        color: rgb(240, 230, 230);
        background-position: center;
        background-color: rgba(0, 0, 0, 5);
    }
}

nav ul.menu {

    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #ccc;
    text-align: center;
}

nav ul.menu li {
    display: inline-block;
    margin-right: 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #424141;
    font-weight: bold;
}

/*aqui va el color de las secciones*/
section.seccion {
    margin: 0px;
    padding: 5px;
    border: 01px solid #e2dada;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}


body .cajasuperior {

    position: fixed;
    width: 100%;
}

@media (min-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #817373;
    }


}


.ICON {
    text-align: center;
    background-color: #87888a;
    width: auto;
    height: auto;

}


.icon-facebook {

    width: 40px;
    height: 40px;
    margin-right: 20px;


}

.icon-whatsaap {

    width: 40px;
    height: 40px;
    margin-right: 20px;

}


.icon-instagram {

    width: 40px;
    height: 40px;
    margin-right: 20px;

}


.arrow {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    padding: 10px;
    background-color: #7aadec;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.colorr {
    color: white !important;
}

.BRAN {
    margin-left: 20px;
}

#plaUne {
    background-color: #ccc;

}


#plaUne ul li span {

    margin: left 500px;

    float: right;
}




/* Media Query para dispositivos con una pantalla de 768px o más grande (ordenadores) */
@media (min-width: 768px) {
    p {
        font-size: 16px;

    }
}